@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
h1, h2, h3, h4 {
  font-family: 'Shrikhand', cursive;
}

* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: white solid 1px;
  -webkit-box-shadow: grey 0 0 5px 0;
          box-shadow: grey 0 0 5px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 10px 0;
  font-size: 0.9em;
  background-color: white;
  left: 0%;
  top: 0%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0 15px 40px;
  background-color: rgba(204, 204, 204, 0.507);
}

input {
  border: none;
  background-color: rgba(255, 248, 248, 0);
  margin-left: 20px;
  font-size: 1em;
  font-weight: bold;
}

.intro {
  background-color: #f1f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
  padding: 30px 0 50px 0;
}

.intro strong {
  font-size: 1.5em;
}

.intro p {
  font-size: 1.1em;
}

.intro a {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 25px 25px 25px 25px;
  color: white;
  margin-top: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 1em;
  -webkit-box-shadow: rgba(15, 15, 15, 0.116) 2px 2px 2px 2px;
          box-shadow: rgba(15, 15, 15, 0.116) 2px 2px 2px 2px;
  text-decoration: none;
}

#navtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4em;
  margin: 40px 0 30px 15px;
}

.navbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: white solid 1px;
  -webkit-box-shadow: rgba(15, 15, 15, 0.116) 2px 2px 2px 2px;
          box-shadow: rgba(15, 15, 15, 0.116) 2px 2px 2px 2px;
  border-radius: 20px;
  width: 90%;
  height: 70px;
  margin: 0 0 30px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbtn p {
  position: absolute;
  left: -3%;
  top: 30%;
  width: 25px;
  height: 25px;
  border: #9356DC solid 1px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9em;
}

.navbtn i {
  margin: 0 30px 0 40px;
  color: grey;
  font-size: 1.2em;
}

.navbtn:hover {
  background-color: #f2eafb;
  border-color: #f2eafb;
}

.navbtn:hover i {
  color: #9356DC;
}

#restaurants {
  background-color: #f1f0f0;
  margin-top: 60px;
  padding: 10px 0 50px 0;
}

#articletitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4em;
  margin: 40px 0 30px 15px;
}

#allslot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slot {
  width: 90%;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: rgba(128, 128, 128, 0.137) 2px 2px 2px;
          box-shadow: rgba(128, 128, 128, 0.137) 2px 2px 2px;
  position: relative;
  margin-bottom: 20px;
}

.slot img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.slot i {
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-size: 1.5em;
  cursor: pointer;
}

.slot span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 90px;
  background-color: #99E2D0;
  color: #278870;
  position: absolute;
  top: 5%;
  right: 2%;
  font-weight: bold;
  font-size: 0.9em;
}

.textslot {
  padding: 10px 0 0 10px;
  font-size: 1.1em;
}

.textslot p {
  margin-top: 5px;
}

footer {
  background-color: rgba(0, 0, 0, 0.774);
  color: white;
  padding: 20px 0 30px 20px;
}

footer h3 {
  margin-bottom: 15px;
  font-weight: 500;
}

footer ul {
  list-style-type: none;
}

footer li {
  margin-bottom: 7px;
}

footer i {
  margin-right: 10px;
}

.fa-hands-helping {
  font-size: 0.6em;
}
/*# sourceMappingURL=style.css.map */