form {
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 40px;
  background-color: rgba(204, 204, 204, 0.507);
}

input {
  border: none;
  background-color: rgba(255, 248, 248, 0);
  margin-left: 20px;
  font-size: 1em;
  font-weight: bold;
}